<section class="homepage-section featured-collections" data-section-id="{{ section.id }}" data-section-type="collection-list-section">
  <article class="row">
    
    {% if section.settings.title != blank %}
    <h2 class="section-title clearfix desktop-12 tablet-6 mobile-3"><a href="{{ collection.url }}">{{ section.settings.title | escape }}</a></h2> 
    {% endif %}   
    {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
    {% else %}     
    <div class="collection-loop">
      {% for block in section.blocks %}
      {%- assign index = forloop.index -%}

      {% case section.settings.collections-per-row %}
      {% when '6' %}
      {%- assign col_per_row = 'desktop-2 tablet-2' -%}
      {% when '4' %}
      {%- assign col_per_row = 'desktop-3 tablet-2' -%}
      {% when '3' %}
      {%- assign col_per_row = 'desktop-4 tablet-2' -%}
      {% when '2' %}
          {% if index == 2 or index == 3 or index == 6 or index == 7 %}
          {%- assign col_per_row = 'desktop-8 tablet-3' -%}
          {% else %}
          {%- assign col_per_row = 'desktop-4 tablet-3' -%}
          {% endif %}
      {% endcase %}
      {%- assign collection = collections[block.settings.collection] -%}
      {%- assign collection-tagline = block.settings.collection-tagline -%}
      {% capture colorlist %}{% for i in (1..10) %}{% assign colorindex = 'color' | append: i %}{{ block.settings[colorindex] }}^{% endfor %}{% endcapture %}
      {%- assign colors = colorlist | split: "^" %}
      {% if collection != blank %}
	  {% include 'collection-grid-item' %}
      {% else %}
      {% include 'onboard-collection' %}
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </article>
</section>
<div class="clear"></div>
 

{% schema %}
{
  "name": "Collection list",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collections"
    },
	{
        "type": "select",
        "id": "collections-per-row",
        "label": "Collections per row",
		"default": "3",
        "options": [
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "2",
            "label": "2"
          }
        ]
      }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        {
          "label": "Tagline",
          "id": "collection-tagline",
          "type": "text"
        },
        {
          "label": "Variant color 1",
          "id": "color1",
          "type": "color"
        },
        {
          "label": "Variant color 2",
          "id": "color2",
          "type": "color"
        },
        {
          "label": "Variant color 3",
          "id": "color3",
          "type": "color"
        },
        {
          "label": "Variant color 4",
          "id": "color4",
          "type": "color"
        },
        {
          "label": "Variant color 5",
          "id": "color5",
          "type": "color"
        },
        {
          "label": "Variant color 6",
          "id": "color6",
          "type": "color"
        },
        {
          "label": "Variant color 7",
          "id": "color7",
          "type": "color"
        },
        {
          "label": "Variant color 8",
          "id": "color8",
          "type": "color"
        },
        {
          "label": "Variant color 9",
          "id": "color9",
          "type": "color"
        },
        {
          "label": "Variant color 10",
          "id": "color10",
          "type": "color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured collections",
      "category": "Collection",
      "settings": {
      },
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
