<section class="homepage-section featured-collections" data-section-id="{{ section.id }}" data-section-type="collection-list-section">
  <article class="row">
    
    {% if section.settings.title != blank %}
    <h2 class="section-title clearfix desktop-12 tablet-6 mobile-3"><a href="{{ collection.url }}">{{ section.settings.title | escape }}</a></h2> 
    {% endif %}   
    {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
    {% else %}     
    <div class="collection-loop">
      {% for block in section.blocks %}
      {%- assign index = forloop.index -%}


      {% case block.settings.width %}
      {% when '25%' %}
      {%- assign image_size = '500x' -%}
      {%- assign width = 'desktop-3 tablet-fourth' -%}
      {% when '33%' %}
      {%- assign image_size = '500x' -%}
      {%- assign width = 'desktop-4 tablet-2' -%}
      {% when '50%' %}
      {%- assign image_size = '800x' -%}
      {%- assign width = 'desktop-6 tablet-3' -%}
      {% when '66%' %}
      {%- assign image_size = '1200x' -%}
      {%- assign width = 'desktop-8 tablet-two-thirds' -%}
      {% when '75%' %}
      {%- assign image_size = '1200x' -%}
      {%- assign width = 'desktop-9 tablet-three-quarter' -%}
      {% when '100%' %}
      {%- assign image_size = '1920x' -%}
      {%- assign width = 'desktop-12 tablet-6 mobile-3' -%}
      {% endcase %}

      {%- assign collection = collections[block.settings.collection] -%}
      {%- assign collection-tagline = block.settings.collection-tagline -%}
      {% capture colorlist %}{% for i in (1..10) %}{% assign colorindex = 'color' | append: i %}{{ block.settings[colorindex] }}^{% endfor %}{% endcapture %}
      {%- assign colors = colorlist | split: "^" %}
      {% if collection != blank %}
	  {% include 'collection-grid-item' %}
      {% else %}
      {% include 'onboard-collection' %}
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </article>
</section>
<div class="clear"></div>
 

{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collections"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        {
          "label": "Tagline",
          "id": "collection-tagline",
          "type": "text"
        },
        {
          "label": "Width",
          "type": "select",
          "id": "width",
          "default": "33%",
          "options": [
            {
              "value":"25%",
              "label":"25%"
            },
            {
              "value":"33%",
              "label":"33%"
            },
            {
              "value":"50%",
              "label":"50%"
            },
            {
              "value":"66%",
              "label":"66%"
            },
            {
              "value":"75%",
              "label":"75%"
            },
            {
              "value":"100%",
              "label":"100%"
            }
          ]
        },
        {
          "label": "Variant color 1",
          "id": "color1",
          "type": "color"
        },
        {
          "label": "Variant color 2",
          "id": "color2",
          "type": "color"
        },
        {
          "label": "Variant color 3",
          "id": "color3",
          "type": "color"
        },
        {
          "label": "Variant color 4",
          "id": "color4",
          "type": "color"
        },
        {
          "label": "Variant color 5",
          "id": "color5",
          "type": "color"
        },
        {
          "label": "Variant color 6",
          "id": "color6",
          "type": "color"
        },
        {
          "label": "Variant color 7",
          "id": "color7",
          "type": "color"
        },
        {
          "label": "Variant color 8",
          "id": "color8",
          "type": "color"
        },
        {
          "label": "Variant color 9",
          "id": "color9",
          "type": "color"
        },
        {
          "label": "Variant color 10",
          "id": "color10",
          "type": "color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured collections",
      "category": "Collection",
      "settings": {
      },
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
