

<div id="error-page" class="desktop-4 desktop-push-4">
  <h2 class="section-title">{{ 'general.404.title' | t }}</h2>
    <p style="text-align: center; margin-top: 40px;">{{ 'general.404.subtext' | t }}</p><br />
    <form action="{{ shop.url }}/search" method="get" accept-charset="utf-8">
      <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}"  />
    </form>
</div>

